* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(143, 204, 186);
  font-family: URW Chancery L, cursive;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 15px;
  width: 20vw;
  margin: auto;
  font-family: serif;
  color:rgb(177, 11, 11)
}

.box {
  padding: 50px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color:rgb(8, 182, 159);
  border-radius: 0.5em;
  width: 40vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color:rgb(192, 73, 73);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  color: #000000;
  font-size:15px;
  text-align: center;
}

